<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "partials/head.html" %}
    <title>{{ page.title }} · {{ config.siteName }}</title>
    <meta name="description" content="{{ page.description or config.siteDescription }}">
</head>
<body>
    <div id="stage" class="container">
        <div class="row">
            {% include "partials/sidebar.html" %}
            <div id="main-container" class="col-sm-9 col-xs-12 main-container invisible">
                <div class="autopagerize_page_element">
                    <div class="content">
                        <div class="post-page">
                            <div class="post-container">
                                <p class="post-title">
                                    <a>{{ page.title }}</a>
                                </p>
                                <div class="post-content">{{ page.content|safe }}</div>
                            </div>
                            {% include "partials/comments.html" %}
                        </div>
                    </div>
                </div>
                
                <div class="visible-xs site-bottom-footer">
                    {% include "partials/footer.html" %}
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/jquery-3.1.0.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/scripts/jquery.appear.js"></script>
    <script src="/scripts/typography.js"></script>
</body>
</html>
